<h3>About</h3>
<p>
  Freedom provides full python and pypi release management.
</p>
<h3>Useful Links</h3>
<ul>
  <li><a href="http://pypi.python.org/pypi/freedom">Freedom @ PyPI</a></li>
  <li><a href="http://bitbucket.com/sys-git/freedom">Freedom @ bitbucket</a></li>
  <li><a href="http://bitbucket.com/sys-git/freedom/issues">Issue Tracker</a></li>
  <li><a href="http://freedoms.readthedocs.org/en/latest">Documentation @ ReadTheDocs</a></li>
</ul>
